<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.3.1/cyborg/bootstrap.min.css"> -->
<link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">

<style>
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input, select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

button {
  margin-left: 35% ;
  width: 25%;
  background-color: #009961;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #00cc81;
}

.container {
  margin:0% 20% 5%   ;
  padding: 2%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}


</style>
</head>
<body>



    <div style="text-align: center; " >
         <img style="border-radius: 100%;" src="m5.png" alt="">
    </div>
<div class="container">
  <h3>Loan Application Form</h3>
  <form action="/apply/<%=data[0].id%>/<%=data[0].username%>" method="post">
    <label class="required" for="fname">Full Name</label><span style="color:#ff0000">*</span>
    <input type="text"  name="name" value="<%=data[0].name%>" required readonly>

     <label class="required" for="email">Email</label><span style="color:#ff0000">*</span>
     <input type="email" name="email"  value="<%=data[0].email%>" required readonly>

     <label class="required" for="phoneno">Phone Number</label><span style="color:#ff0000">*</span>
     <input name="phone" placeholder="Your phone number.." required>

    <label class="required" for="city">City</label><span style="color:#ff0000">*</span>
    <select data-target="branch" class="selectFilter" name="city" required>
      <option value="">City</option>

      <option data-ref="mys">Mysore</option>
      <option data-ref="del">Delhi</option>
      <option data-ref="blr">bengaluru</option>
    </select>

    <label for="loan_type" class="required">Loan Type</label><span style="color:#ff0000">*</span>
    <input type="text"  name="loan_type"  value="<%=data[0].loan_type%>" required readonly>

    <label for="bank" class="required">Bank</label><span style="color:#ff0000">*</span>
    <input type="text"  name="bank"  value="<%=data[0].bank%>" required readonly> 

    <label class="required" for="branch">Branch</label><span style="color:#ff0000">*</span>
    <select class="branch selectFilter"  name="branch" required>
      <option value="">Branch</option>

      <option data-belong="mys">SJCE Campus</option>
      <option data-belong="mys">Vijaynagar</option>
      <option data-belong="mys">Gokulam</option>
      <option data-belong="del">Karol Bagh</option>
      <option data-belong="del">Janakpuri</option>
      <option data-belong="del">Old Rajendra Nagar</option>
      <option data-belong="blr">Majestic</option>
      <option data-belong="blr">Whitefield</option>
      <option data-belong="blr">Kundahalli</option>
    </select>



    

    <label for="rate" class="required">Interest Rate(%p.a.)</label><span style="color:#ff0000">*</span>
    <input  type="text" id="rate" name="rate"  value="<%=data[0].rate%>" required readonly> 

    <label for="duration" class="required">Period(years)</label><span style="color:#ff0000">*</span>
    <input  type="text" id="duration" name="period"  value="<%=data[0].duration%>" required readonly> 
     
     <label for="adhaar" class="required">Adhaar Card Number</label><span style="color:#ff0000">*</span>
    <input maxlength="16" minlength="16"  id="ano" name="adhaar" placeholder="Adhaar Card Number.." required>

    <label for="pan" class="required">PAN Number</label><span style="color:#ff0000">*</span>
    <input  id="pno" name="pan" placeholder="PAN Number.." required>

    <label for="amt" class="required">Amount</label><span style="color:#ff0000">*</span>
    <input  id="amt" name="amount" placeholder="Amount.." required>
    
    <label for="accno" class="required">Account Number</label><span style="color:#ff0000">*</span>
    <input id="acno" name="account" placeholder="Your account number.. " required>

    <label for="" class="required">Upload Your Adhaar Card, Pan Card and Passbook</label><span style="color:#ff0000">*</span>
    <input type="file" name="upload" accept="application/pdf,application/vnd.ms-excel"  required/>

    

    <button type="submit">Submit</button>
  </form>
</div>

<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
<script src="../../js/selectFilter.min.js"></script>
</body>
</html>
